body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(88,111,124);
  background: linear-gradient(0deg, rgba(88,111,124,1) 0%, rgba(47,69,80,1) 50%, rgba(0,0,0,1) 100%);
  color: #cdcdcd;
  font-family: 'Inter', sans-serif;
}

.loginBody {
  margin-top: 30%;
  padding-left: 40%;
  display: flex;
  width: fit-content;
  height: fit-content;
}

#openMenu
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  text-shadow: #b8dbd9 1px 0 10px;
}

#openMenu a
{
  text-decoration: none;
  color: #F4F4F9;
  text-shadow: #b8dbd9 1px 0 10px;
  transition: color 0.3s ease;
}

#openMenu a:hover
{
  /* color: mediumseagreen; */
}

#openMenu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
  text-shadow: #b8dbd9 1px 0 10px;
}

#openMenu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #F4F4F9;
  text-shadow: #b8dbd9 1px 0 10px;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),;
  background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#openMenu span:first-child
{
  transform-origin: 0% 0%;
}

#openMenu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#openMenu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #F4F4F9;
  text-shadow: #b8dbd9 1px 0 10px;
  
}

#openMenu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#openMenu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#openMenu input:checked ~ ul
{
  transform: none;
}

/* .finishButton {
    background-color: #000;
    color: #F4F4F9;
    text-shadow: 1px 1px 2px black, 0 0 25px #b8dbd9, 0 0 5px #D6EAE9;
    box-shadow: 0px 5px #b8dbd9;
    width: 20vw;
    height: 8vh;
    border-radius: 10px;
    align-items: center;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
} */

.newTicketButton {
  background-color: #000;
  color: #F4F4F9;
  text-shadow: 1px 1px 2px black, 0 0 25px #b8dbd9, 0 0 5px #D6EAE9;
  box-shadow: 0px 5px #b8dbd9;
  width: 20vw;
  height: 8vh;
  border-radius: 10px;
  /* border-width: 4px; */
  font-size: x-large;
  font-family: 'Inter', sans-serif;
  border-color: #586F7C;
  /* transform: translateY(4px); */
}
.newTicketButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 4rem;
  width: 100%;
}

@media only screen and (max-width: 360px) {
  .newTicketButton {
    width: 6rem;
    font-size: medium;
  }
}
