.mainKitchenPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  

}

.mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: fit-content;
    align-items: center;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 30rem;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(47, 79, 79, 0.747);
    border-radius: 2px;
}

.finishButton {
    background-color: #000;
    color: #F4F4F9;
    text-shadow: 1px 1px 2px black, 0 0 25px #b8dbd9, 0 0 5px #D6EAE9;
    box-shadow: 0px 5px #b8dbd9;
    width: 15vw;
    height: 8vh;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
}

@media only screen and (max-width: 375px) {

    .finishButton {
    background-color: #000;
    color: #F4F4F9;
    text-shadow: 1px 1px 2px black, 0 0 25px #b8dbd9, 0 0 5px #D6EAE9;
    box-shadow: 0px 5px #b8dbd9;
    width: 20vw;
    height: 8vh;
    border-radius: 10px;
    align-items: center;
    font-size: x-small;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        height: 30rem;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: rgba(47, 79, 79, 0.747);
        border-radius: 2px;
    }

}